<header id="masthead">
  <div class="inner-wrap">
    <a href="{{ site.url }}/" class="site-title">

<!-- {{ site.title }}</a> -->

      <p id="logo">
        <span class="logo-gray">{</span>
        DIXON
        <span class="logo-gray">:</span>
        <i>BUILT</i>
        <span class="logo-gray">;</span>
        <span class="blink_me">|</span>
        <span class="logo-gray">}</span>
      </p>

    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
